body {
    margin: 0;
    font-family: Arial, sans-serif;
}


section#artist-profile {
    margin: 20px auto;
    padding: 15px;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#artist-profile h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

section#artist-profile p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Art Grid Styles */
.art-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjust based on the number of columns you want */
    gap: 5px; /* Controls the spacing between items */
}
.art-grid img {
    width: auto;
    height: 85%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.art-grid img:hover {
    transform: scale(1.05);
}


.art-item {
    text-align: center; /* Centers the content within each grid item */
}

.art-item img {
    width: auto;
    height: auto; /* Adjust height as needed */
    border-radius: 8px;
    transition: transform 0.3s ease;
    grid-template-columns: repeat(2, 1fr);
   column-gap: 5px;
}

.art-item p {
    margin-top: 5px; /* Adds space between the image and the price */
    font-size: 1em;
    color: #333;
    font-weight: bold;
}




/* Contact Form Styles */
#contact-form {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-form h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

#contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#contact-form button:hover {
    background-color: #555;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
